UON INVESTMENT REPORT

In [36]:
import pyodbc as pyod
import pandas as pd

In [37]:
connection_str = (
    "Driver={ODBC Driver 17 for SQL Server};"
    "Server=AGILEDB\\DEV2019;"
    "Database=UON;"
    "Uid=erp;"
    "Pwd=Pass@7046.;"
)

In [38]:
connection=pyod.connect(connection_str)

In [39]:
Cursor=connection.cursor()

In [40]:
Cursor.execute("SELECT* FROM [UON PEN RBS$G_L Entry$7d966dd5-a317-4db2-b529-926bbce15abf]")

In [42]:
G_LEntry = pd.read_sql(
    """
    SELECT *, b.[G_L Account No_] 
    FROM [UON PEN RBS$G_L Entry$7d966dd5-a317-4db2-b529-926bbce15abf] a
    JOIN [UON PEN RBS$G_L Entry$437dbf0e-84ff-417a-965d-ed2bb9650972] b
    ON a.[Entry No_] = b.[Entry No_]
    """, 
    connection
)

C:\Users\vincent.koech\AppData\Local\Temp\ipykernel_25252\3179164814.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  G_LEntry = pd.read_sql(

In [44]:
display(G_LEntry.head(5))

,timestamp,Entry No_,Investment Code,No_ Of Units,Investment Transcation Type,Nominal Value,Payment Ref,PE Firm,Investee Company,Portfolio,...,FA Entry Type,FA Entry No_,Comment,Last Modified DateTime,$systemId,$systemCreatedAt,$systemCreatedBy,$systemModifiedAt,$systemModifiedBy,G_L Account No_
0,b'\x00\x00\x00\x00\x00\x05\xf6\xb2',1,,0.0,0,0.0,,,,,...,0,0,,2023-04-20 07:25:56.280,18519493-4CDF-ED11-8179-00155D722002,2023-04-20 07:25:56.283,5B5B120B-5415-4D98-8281-E87108A7D070,2023-05-05 10:06:43.603,5B5B120B-5415-4D98-8281-E87108A7D070,
1,b'\x00\x00\x00\x00\x00\x05\xf6\xb8',2,,0.0,0,0.0,,,,,...,0,0,,2023-04-20 07:25:56.577,1A519493-4CDF-ED11-8179-00155D722002,2023-04-20 07:25:56.577,5B5B120B-5415-4D98-8281-E87108A7D070,2023-05-05 10:06:11.913,5B5B120B-5415-4D98-8281-E87108A7D070,
2,b'\x00\x00\x00\x00\x00\x06\x1d\x16',3,,0.0,0,0.0,,,,,...,0,0,,2023-04-20 13:20:17.857,91EDBF16-7EDF-ED11-8179-00155D722002,2023-04-20 13:20:17.857,5B5B120B-5415-4D98-8281-E87108A7D070,2023-05-05 10:06:11.917,5B5B120B-5415-4D98-8281-E87108A7D070,
3,b'\x00\x00\x00\x00\x00\x06\x1d\x17',4,,0.0,0,0.0,,,,,...,0,0,,2023-04-20 13:20:17.857,92EDBF16-7EDF-ED11-8179-00155D722002,2023-04-20 13:20:17.857,5B5B120B-5415-4D98-8281-E87108A7D070,2023-05-05 10:06:43.607,5B5B120B-5415-4D98-8281-E87108A7D070,
4,b'\x00\x00\x00\x00\x00\r+H',5,,0.0,0,0.0,,,,,...,0,0,,2023-05-02 07:34:51.357,29C753D2-BBE8-ED11-8179-00155D722002,2023-05-02 07:34:51.357,5B5B120B-5415-4D98-8281-E87108A7D070,2023-05-05 10:05:44.867,5B5B120B-5415-4D98-8281-E87108A7D070,

In [22]:
FixedAssets = pd.read_sql(
    "SELECT * FROM [UON PEN RBS$Fixed Asset$7d966dd5-a317-4db2-b529-926bbce15abf]", 
    connection
)

C:\Users\vincent.koech\AppData\Local\Temp\ipykernel_25252\1225483325.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  FixedAssets = pd.read_sql(

In [23]:
display(FixedAssets.head(20))

,timestamp,No_,User,Zones,Donor,Purchase Date,Account Number,Colour,Type of Body,Chassis No_,...,Property Manager,Property Manager Name,Property Status1,Management Fee _,Tenant Name,PE Investment Type,Multiple of Cost,IRR,Purchase Date 2,Declared Rate _
0,b'\x00\x00\x00\x00\x00\xc0\xb6U',15YR FXD3/2007/15A,,,0,2022-05-09,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
1,b'\x00\x00\x00\x00\x00\xc0\xb6W',30 YR SDB1/2011/30,,,0,2022-02-14,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
2,b'\x00\x00\x00\x00\x01{\xecS',ABSA12DY15%270923,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,2023-09-27,0.0
3,b'\x00\x00\x00\x00\x019a7',ABSA13DY DEP 12%,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,2023-07-25,0.0
4,b'\x00\x00\x00\x00\x01{\xe0\x05',ABSA32DY13.75%100823,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,2023-08-10,0.0
5,b'\x00\x00\x00\x00\x01%\x87 ',AD060-ADM065,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
6,"b'\x00\x00\x00\x00\x01%\x87""'",ADM 062,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
7,b'\x00\x00\x00\x00\x01%\x87$',ADM 072,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
8,b'\x00\x00\x00\x00\x01%\x87&',ADM001,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
9,b'\x00\x00\x00\x00\x01%\x87(',ADM002,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
10,b'\x00\x00\x00\x00\x01%\x87*',ADM003,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
11,"b'\x00\x00\x00\x00\x01%\x87,'",ADM004,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
12,b'\x00\x00\x00\x00\x01%\x87.',ADM006,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
13,b'\x00\x00\x00\x00\x01%\x870',ADM007,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
14,b'\x00\x00\x00\x00\x01%\x872',ADM008,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
15,b'\x00\x00\x00\x00\x01%\x874',ADM009,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
16,b'\x00\x00\x00\x00\x01%\x876',ADM010,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
17,b'\x00\x00\x00\x00\x01%\x878',ADM011-012,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
18,b'\x00\x00\x00\x00\x01%\x87:',ADM013-014,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0
19,b'\x00\x00\x00\x00\x01%\x87<',ADM015,,,0,1753-01-01,,,,,...,,,0,0.0,,0,0.0,0.0,1753-01-01,0.0

In [ ]:
# Display the top 20 rows to verify the new column
print(G_LEntry.head(20))